.al-task-form-container {
	background-color: $dark-blue-tint;

	.al-task-form {
		padding-top: 50px;
		padding-bottom: 10px;

		max-width: $max-width;
		margin: auto;

		.al-task-input {
			width: 100%;
			max-width: $max-width - 30px; //-30 to account for padding
			padding-left: 10px;
			display: inline-block;
			input {
				outline: none;
				border: 2px solid white;
				color: white;
				padding-left: 8px;
				border-radius: 4px;
				width: calc(100% - 41px);
				@media (max-width: 950px) {
					width: calc(100% - 60px)
				}
				height: 40px;
				font-family: inherit;
				font-size: 24px;
				font-weight: 300;
				background: transparent;
			}

			.fa-plus {
				color: white;
				font-size: 24px;
				margin-left: 5px;
				cursor: pointer;
			}
			.fa-plus:hover {
				color: lightgray;
			}
			@include placeholder-color(white);
		}
	}
}