$max-width: 960px;

$dark-blue: #003366;
$dark-blue-tint: #0059B3;
$light-green: #2ECC40;

body {
	margin: 0;//TODO: this is getting set to 8px somewhere- track it down so you can remove this later
}

.al-row {
	margin: 0 auto;
	width: 100%;
	max-width: $max-width;
}

.al-column {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

//media query mixins
@mixin al-screen-small {
	@media (max-width: 320px) {
		@content;
	}
}

//Miscellaneous mixins {
@mixin placeholder-color($value) {
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		color: $value;
		opacity: .7;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: $value;
		opacity: .7;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: $value;
		opacity: .7;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: $value;
		opacity: .7;
	}
}

//IE specific stuff

::-ms-clear { //IE adds an X to the end of text boxes that clears the text. This hides that
	display: none;
}