$max-width: 960px;

$dark-blue: #003366;
$dark-blue-tint: #0059B3;
$light-green: #2ECC40;

body {
	margin: 0;//TODO: this is getting set to 8px somewhere- track it down so you can remove this later
}

.al-row {
	margin: 0 auto;
	width: 100%;
	max-width: $max-width;
}

.al-column {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

//Sticky Footer
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.al-page-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}
.al-page-footer, .al-footer-push {
	height: 30px;
}

.al-page-footer {
	background-color: gray;
	color: white;
	footer {
		padding-top: 4px;
		padding-left: 15px;
	}
}

//media query mixins
@mixin al-screen-small {
	@media (max-width: 320px) {
		@content;
	}
}

//Miscellaneous mixins {
@mixin placeholder-color($value) {
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		color: $value;
		opacity: .75;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: $value;
		opacity: .75;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: $value;
		opacity: .75;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: $value;
		opacity: .75;
	}
}

//IE specific stuff
::-ms-clear { //IE adds an X to the end of text boxes that clears the text. This hides that
	display: none;
}

//Overrides
.toast-top-center {
	top: 30px !important; //ng2-toastr puts it so it looks like it's coming from inside the titlebar
}